<html>
  <head>
    <title>VILLE</title>
  <body> 
  	<p> Bienvenue sur la page de la ville N° <%=params[:id]%> !</p> 
  	<p>Voici les potins émanant de cette ville :</p>

  	<table class="table">
  

  <tbody>
  <% @users.each do |user| %>
    <% @gossips_specific = @gossips.where("user_id = ?", user.id) %>
        <% @gossips_specific.each do |gossip| %>
            <div class="card" style = "margin-bottom:25px" >
            <div class="card-header" >
            </div>
            <div class="card-body">
            <h5 class="card-title"><%= gossip.title %></h5>
            <p class="card-text"><%= gossip.content %></p>
            <a class="btn btn-primary" <%= link_to "Go to gossip page", gossip_path(gossip) %> </a>
        
</div>
</div>
        <%end%>
    <%end%>
 



</tbody>

</table>


</body>
</html>