<html>
  <head>
    <title>Home - The Gossip Project</title>
    
 </head>
  <body> 

   
                <!-- Contact -->
        <section>
          <div class="container">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h1 class="section-heading text-uppercase">Contact Us</h1><i class="fas fa-envelope"></i>
                <br>
                <h3 class="section-subheading text-muted"> 

                <br> Be specific. We don't like to waste our time. </br> 

                <br> Contact us at: </br> 
                
                <br> <a href="mailto:Ilovethepirateway@THP.com"> Ilovethepirateway@THP.com </a> </br>
                <br> Love ! </br>

                </h3>
                    <img src="https://picsum.photos/200/300/?random" alt="bere" class="rounded-0">
              </div>
              </div>
              </div>
        </section>
  </body>
</html>